#!/bin/bash

export CATALINA_OPTS="-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:8000 -Djava.security.egd=file:/dev/urandom -Denv=dev -Xms256M -Xmx1024M -XX:PermSize=128M -XX:MaxPermSize=256M"